.landingButton {
	font-size: 20px;
	font-family: san-serif;
	background-color: antiquewhite;
	color: black;
	min-width: 29%;
	min-height: 37px;
}

html {
	
	background-color: black;
}

#testImageDeleteMe {
	margin-left: 24%;
	width: 671px;
	max-height: 300px;
	margin-top: 2%;
}