
  body {
      position: relative; 
  }
  #section1 {padding-top:50px;height:500px;color: #000000; background-color: #ffffff;}
  #section2 {padding-top:50px;height:500px;color: #000000; background-color: #ffffff;}
  #section3 {padding-top:50px;height:500px;color: #000000; background-color: #ffffff;}
  #section21 {padding-top:50px;height:500px;color: #000000; background-color:#ffffff;}
  
 
 
  li:hover, a:hover{
  	color: #0080ff;
  }
  
  .logoImage{
  	width: 100px;
  	height: 5%;;
  } 
  