#reAssignVideoOne {
	display:none;
}

#reassignSuccess {
	display:none;
	opacity: 0;
}

#section1, #section21, #section3 {
  	padding-top:25px;
  	color: #000000; 
  	background-color: #ffffff;
  }

#top_x_div{
	width: 100%; 
	height: 100%;
}

.resize{
	width: auto;
	height: 100px;;
}

#section3{
	text-align: center;
  	vertical-align: middle;
}

.col-sm-06{
	background-color: #b3b3cc;
}

#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}