#reAssignVideoOne {
	display:none;
}

#reassignSuccess {
	display:none;
	opacity: 0;
}

#section1, #section21, #section3 {
  	padding-top:25px;
  	height:500px;
  	color: #000000; 
  	background-color: #ffffff;
  }

#top_x_div{
	width: 100%; 
	height: 100%;
}

.resize{
	width: auto;
	height: 100px;;
}

#section3{
	text-align: center;
  	vertical-align: middle;
}