#reAssignVideoOne {
	display:none;
}

#reassignSuccess {
	display:none;
	opacity: 0;
}

#top_x_div{
	width: 100%; 
	height: 100%;
}

#barChart_div{
	max-width: 100%;
	max-height: 100%;
	vertical-align: middle;
	text-align: center;	
}

#chart_div{
	width: 10;
}

.resize{
	width: auto;
	height: 100px;;
}

#section4{
  	vertical-align: middle;
	text-align: center;
}

.col-sm-06{
	
}

#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#selectionBox{
	positon:relative;
	width:70pc;
	height:2pc;
	border: 1px solid black;
	margin-bottom: 10px
}

#ChartsContainer{
	display:flex;
	 width: 70pc; 
	 height:30pc;  
	 justify-content:space-between;
	  margin-bottom:20px;
	  padding-top:20px;
	  border: 1px solid red;
}


#container_box1{
	margin-right:1pc;
	   width: 75pc; 
	   height: 20pc; 
}

#chart_0{
	}

#chart_1{
	
	}
	
#chart_2{
	}

#container_box2{
	border-bottom: 1px solid cornflowerblue;
	padding-top:20px;
	margin-right:1pc; 
	width: 70pc; height: 20pc;
	padding: 25px 25px 25px 25px; 
}


#container_box3{
	border-bottom: 1px solid cornflowerblue;
	padding-top:20px;
	margin-right:1pc; 
	width: 70pc; height: 20pc;
	padding: 0px 25px 25px 25px; 
}


select option {
  text-overflow: ellipsis;
}



#Chartbox3{
	 padding: 25px 25px 25px 25px; width: 70pc; height: 13pc;
}


#chartExpandBtn1{
	
	float:bottom;
	margin-left:auto;
	margin-right:auto;  
	background-color: white; 
	text-decoration:none; 
	border: none; 
	color:#5085A5;	
}

#chartExpandBtn1:hover{
	background-color: #bfbfbf; 
	
}



#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

.userRequiringManagerAttention{
	cursor:pointer;
	font-style:italic;
	color:red;
	
}


