#reAssignVideoOne {
	display:none;
}

#reassignSuccess {
	display:none;
	opacity: 0;
}

#top_x_div{
	width: 100%; 
	height: 100%;
}

#barChart_div{
	max-width: 100%;
	max-height: 100%;
	vertical-align: middle;
	text-align: center;	
}

#chart_div{
	width: 10;
}

.resize{
	width: auto;
	height: 100px;;
}

#section4{
  	vertical-align: middle;
	text-align: center;
}

.col-sm-06{
	
}

#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#ChartsContainer{
	display:flex; width: 70pc; height:30pc;  justify-content:space-between; margin-bottom:25px;
}


#container_box1{
	margin-right:1pc;   width: 75pc; height: 20pc;  
}

#chart_0{
	width="230px"; height="230px";  padding-right:10px; margin-bottom: 10px;
}

#Chartbox2{
	margin-right:1pc; padding: 25px 25px 25px 25px; width: 70pc; height: 20pc; border: 1px solid green; background-color:grey;
}



#Chartbox3{
	 padding: 25px 25px 25px 25px; width: 70pc; height: 20pc; border: 1px solid blue;
}


#chartExpandBtn{
	position:relative;
	float:bottom;
	margin-left:50px;  
	background-color: white; 
	text-decoration:none; 
	border: none; 
	color:#5085A5;	
}

#chartExpandBtn:hover{
	background-color: #bfbfbf; 
	
}



#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

.userRequiringManagerAttention{
	cursor:pointer;
	font-style:italic;
	color:red;
	
}
