#yourcode {
	margin-left:20px;
	min-width: 700px;
	max-width: 700px;
	min-height: 300px;
	max-height: 300px;
	background-color: black;
	color: white;
	font-size: 16px;
}

#output {
	float: right;
	width:414px;
	height:300px;
	max-height: 300px !important;
	overflow: scroll;
	
}

  #s1_child1{
  	background-color: #b3b3cc;
  	float: right;
  	padding: 0;
  	max-width: 100%;
  	max-height: 100%;
  	text-align: center;
  	vertical-align: middle;
  }
  
  #s1_child2{
  	float: right;
  	padding: 0;
  }
  
  #s3_child2, #s4_child2{
  	background-color: #bfbfbf;
  }
  
 	#section4{
  	padding-top: 20px;
  }
  
  #section21{
  	text-align: center;
  	vertical-align: middle;
  	padding-top: 20px;
  	padding-bottom: 20px;
  }
  
  .resize{
	width: auto;
	height: 100px;
}
  
  .row{
  	display: flex;
  }
  
  .col{
  	flex: 1;
  }
  
 
 
  li:hover, a:hover{
  	color: #0080ff;
  }
  
  .logoImage{
  	width: 100px;
  	height: 5%;;
  } 
  
  .teamImg{
  	max-width: 100%;
  	max-height: 100%;
  }
  
  .compImage{
  	max-width: 100%;
  	max-height: 100%;
  }
  
  .peopleImg{
  	max-width: 100%;
  	max-height: 100%;
  }
  
  .courseHead{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background-color: #ccc;
  border-radius: 3px;
  }
  
  